<div class="container">
  <header class="my-5 text-center">
    <h1>Adicionar novo livro</h1>
    <p>Pesquise o livro pelo ISBN</p>

    <%= link_to "Livros adicionados", books_path %>
  </header>

  <div class="w-25 mx-auto" style="margin-top: 5rem;">
    <%= form_with url: books_path do |f| %>
      <%= f.text_field :isbn, class: 'form-control mb-3', placeholder: 'ISBN', required: true %>
      <%= f.submit 'Adicionar', class: 'btn btn-sm btn-primary' %>
    <% end %>
  </div>
</div>
